.card {
  background: #2b2b2b;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
  border: 2px solid #3a3a3a;
}

.card:hover {
  transform: scale(1.05);
  border-color: #00ff9d;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
  color: #00ff9d;
}

.card p {
  margin: 4px 0;
  font-size: 14px;
}
