.card {
  background: rgba(0,0,0,0.7);
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  border: 1px solid rgba(255,255,255,0.12);
}

.card img {
  width: 100%;
  border-radius: 8px;
}

.card h3 {
  color: #00ff9d;
  margin: 10px 0 6px;
}

.card p {
  margin: 4px 0;
  font-size: 14px;
  color: #eee;
}
